<!DOCTYPE html>
<html>
  <head>
    <title>Choose Your Adventure</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/custom-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|IM+Fell+DW+Pica|Special+Elite" rel="stylesheet">
    
    <!--Add your copied font <link> code below -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Molle:400i" rel="stylesheet">
    
  
  </head>
  <body>
    <div id="title">
      Choose Your Own Adventure
    </div>
    
    <div id="chapter-text">
      
    </div>
    
    <div id="alert"><span id="wrong-word-choice"></span> is not a valid choice.  Please check your spelling!</div>
    <div id="form-wrapper">
      <div id="form">
        <form id="choice-submission">
          <input id="choice" type="text" label="choice" name="choice" placeholder="Enter choice here.">
          <input id = "go" type="submit" value="Go">
        </form>          
      </div>
    
    </div>
    
<!--     <footer>
  Want to build your own Choose-Your-Own-Adventure app?  Check us out <a href="https://choose-your-adventure.gomix.me">here</a>.
  <a id="gomix-link" href="http://gomix.com" target="_blank">
    Built With <i class="fa fa-heart" aria-hidden="true"></i> Using Gomix
  </a>
</footer> -->
    


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
